In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir(r'C:\Users\Consultant20162\Desktop\Python Certification\Datesets')

In [3]:
df = pd.read_excel('Online_Retail.xlsx')

In [4]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [5]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
df['Description'] = df['Description'].str.strip()

In [7]:
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)

In [8]:
df['InvoiceNo'] = df['InvoiceNo'].astype('str')

In [10]:

df = df[~df['InvoiceNo'].str.contains('C')]

In [11]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [12]:
basket = (df[df['Country']=='France'].groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))

In [13]:
def encode_units(x):
    if x<=0:
        return 0
    if x>=1:
        return 1
basket_sets = basket.applymap(encode_units)

In [14]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\consultant20162\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\consultant20162\anaconda3\lib\site-packages (from mlxtend) (3.1.1)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\consultant20162\anaconda3\lib\site-packages (from mlxtend) (0.21.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\consultant20162\anaconda3\lib\site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\consultant20162\anaconda3\lib\site-packages (from mlxtend) (0.25.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\consultant20162\anaconda3\lib\site-packages (from mlxtend) (1.16.5)
Requirement already satisfied: setuptools in c:\users\consultant20162\anaconda3\lib\site-packages (from mlxtend) (41.4.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\consultant20162\anaconda3\lib\site-packages (from mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\consultant20162\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\consultant20162\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\consultant20162\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\consultant20162\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\consultant20162\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: six in c:\users\consultant20162\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)

In [15]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [16]:
basket_sets.drop('POSTAGE', inplace=True, axis=1)

In [17]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
len(rules)

26

In [18]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE PINK),(ALARM CLOCK BAKELIKE GREEN),0.102041,0.096939,0.073980,0.725000,7.478947,0.064088,3.283859
1,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE PINK),0.096939,0.102041,0.073980,0.763158,7.478947,0.064088,3.791383
2,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.094388,0.096939,0.079082,0.837838,8.642959,0.069932,5.568878
3,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.096939,0.094388,0.079082,0.815789,8.642959,0.069932,4.916181
4,(ALARM CLOCK BAKELIKE PINK),(ALARM CLOCK BAKELIKE RED),0.102041,0.094388,0.073980,0.725000,7.681081,0.064348,3.293135
5,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE PINK),0.094388,0.102041,0.073980,0.783784,7.681081,0.064348,4.153061
6,(DOLLY GIRL LUNCH BOX),(SPACEBOY LUNCH BOX),0.099490,0.125000,0.071429,0.717949,5.743590,0.058992,3.102273
7,(SPACEBOY LUNCH BOX),(DOLLY GIRL LUNCH BOX),0.125000,0.099490,0.071429,0.571429,5.743590,0.058992,2.101190
8,(PLASTERS IN TIN SPACEBOY),(PLASTERS IN TIN CIRCUS PARADE),0.137755,0.168367,0.089286,0.648148,3.849607,0.066092,2.363588
9,(PLASTERS IN TIN CIRCUS PARADE),(PLASTERS IN TIN SPACEBOY),0.168367,0.137755,0.089286,0.530303,3.849607,0.066092,1.835747
10,(PLASTERS IN TIN WOODLAND ANIMALS),(PLASTERS IN TIN CIRCUS PARADE),0.170918,0.168367,0.102041,0.597015,3.545907,0.073264,2.063681
11,(PLASTERS IN TIN CIRCUS PARADE),(PLASTERS IN TIN WOODLAND ANIMALS),0.168367,0.170918,0.102041,0.606061,3.545907,0.073264,2.104592
12,(PLASTERS IN TIN SPACEBOY),(PLASTERS IN TIN WOODLAND ANIMALS),0.137755,0.170918,0.104592,0.759259,4.442233,0.081047,3.443878
13,(PLASTERS IN TIN WOODLAND ANIMALS),(PLASTERS IN TIN SPACEBOY),0.170918,0.137755,0.104592,0.611940,4.442233,0.081047,2.221939
14,(SET/6 RED SPOTTY PAPER CUPS),(SET/20 RED RETROSPOT PAPER NAPKINS),0.137755,0.132653,0.102041,0.740741,5.584046,0.083767,3.345481
15,(SET/20 RED RETROSPOT PAPER NAPKINS),(SET/6 RED SPOTTY PAPER CUPS),0.132653,0.137755,0.102041,0.769231,5.584046,0.083767,3.736395
16,(SET/20 RED RETROSPOT PAPER NAPKINS),(SET/6 RED SPOTTY PAPER PLATES),0.132653,0.127551,0.102041,0.769231,6.030769,0.085121,3.780612
17,(SET/6 RED SPOTTY PAPER PLATES),(SET/20 RED RETROSPOT PAPER NAPKINS),0.127551,0.132653,0.102041,0.800000,6.030769,0.085121,4.336735
18,(SET/6 RED SPOTTY PAPER CUPS),(SET/6 RED SPOTTY PAPER PLATES),0.137755,0.127551,0.122449,0.888889,6.968889,0.104878,7.852041
19,(SET/6 RED SPOTTY PAPER PLATES),(SET/6 RED SPOTTY PAPER CUPS),0.127551,0.137755,0.122449,0.960000,6.968889,0.104878,21.556122
20,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975000,7.644000,0.086474,34.897959
21,"(SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975000,7.077778,0.085433,34.489796
22,"(SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...",(SET/20 RED RETROSPOT PAPER NAPKINS),0.122449,0.132653,0.099490,0.812500,6.125000,0.083247,4.625850
23,(SET/20 RED RETROSPOT PAPER NAPKINS),"(SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...",0.132653,0.122449,0.099490,0.750000,6.125000,0.083247,3.510204
24,(SET/6 RED SPOTTY PAPER CUPS),"(SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...",0.137755,0.102041,0.099490,0.722222,7.077778,0.085433,3.232653
25,(SET/6 RED SPOTTY PAPER PLATES),"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",0.127551,0.102041,0.099490,0.780000,7.644000,0.086474,4.081633

# Different Datasets

In [47]:
df1 = pd.read_csv('orders_data.csv')

In [48]:
df1

,order_id,order_dow,order_hour_of_day,days_since_prior_order,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
0,1597,1,8,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2011,4,10,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2822,0,8,29,0,0,0,0,1,0,...,0,0,0,2,0,0,0,0,0,2
3,2889,1,15,8,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,3971,2,18,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,3419893,5,19,30,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,3,4
4996,3420158,0,14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,3420769,2,17,10,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,3420894,0,14,27,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4999,3420909,0,19,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,2

In [51]:
df2=df1.drop(['order_dow', 'order_hour_of_day','days_since_prior_order'], axis=1)

In [52]:
df2

,order_id,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
0,1597,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2011,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2822,0,0,0,0,1,0,0,0,0,...,0,0,0,2,0,0,0,0,0,2
3,2889,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
4,3971,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,3419893,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,3,4
4996,3420158,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,3420769,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,3420894,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4999,3420909,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,2

In [54]:
def encode_units(x):
    if x<=0:
        return 0
    if x>=1:
        return 1
basket_sets = df2.applymap(encode_units)

In [55]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
len(rules)

800

In [44]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(baking ingredients),(order_id),0.0796,1.0000,0.0796,1.000000,1.000000,0.000000,inf
1,(order_id),(baking ingredients),1.0000,0.0796,0.0796,0.079600,1.000000,0.000000,1.000000
2,(bread),(order_id),0.1598,1.0000,0.1598,1.000000,1.000000,0.000000,inf
3,(order_id),(bread),1.0000,0.1598,0.1598,0.159800,1.000000,0.000000,1.000000
4,(order_id),(breakfast bakery),1.0000,0.0756,0.0756,0.075600,1.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...
795,(order_id),"(fresh fruits, yogurt, packaged vegetables fru...",1.0000,0.0868,0.0868,0.086800,1.000000,0.000000,1.000000
796,(fresh vegetables),"(yogurt, order_id, packaged vegetables fruits,...",0.4584,0.1142,0.0868,0.189354,1.658093,0.034451,1.092709
797,(fresh fruits),"(yogurt, order_id, packaged vegetables fruits,...",0.5456,0.0978,0.0868,0.159091,1.626696,0.033440,1.072886
798,(packaged vegetables fruits),"(fresh fruits, order_id, yogurt, fresh vegetab...",0.3846,0.1224,0.0868,0.225689,1.843865,0.039725,1.133395
799,(yogurt),"(fresh fruits, order_id, packaged vegetables f...",0.2568,0.2046,0.0868,0.338006,1.652034,0.034259,1.201522

In [58]:
rules.to_csv('association rules.csv')